<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
           <form [formGroup]="form" (ngSubmit)="onSubmit()">
               <div class="form-group">
                   <label for="projectname">Project Name</label>
                   <input class="form-control" id="projectname" type="text" formControlName="projectName">
                   <span *ngIf="!projectName?.valid && projectName?.touched" class="text-danger">
                       Please enter valid username
                   </span>
                   <span *ngIf="projectName?.errors?.name" class="text-danger"> {{projectName?.value}} is not allowed.</span>
               </div>
               <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" type="text" formControlName="email">
                    <span *ngIf="!email?.valid && email?.touched" class="text-danger">
                        Please enter valid email.
                    </span>
                </div>
                <div class="form-group">
                    <label for="project status">Project Status</label>
                    <select class="form-control" formControlName="status">
                        <option value="stable">Stable</option>
                        <option value="critical">Critical</option>
                        <option value="finished">Finished</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
           </form> 
        </div>
    </div>
    <div *ngIf="submit">
        <h3>Your Data</h3>
        <p>ProjectName is: {{data.projectname}}</p>
        <p>Email is: {{data.email}}</p>
        <p>Status is: {{data.status}}</p>
    </div>
</div>
