<div class="portfolio">
    <h1>PORTFOLIO</h1>
    <p>Some of mt best projects so far</p>
    <hr/>
    <div class="port2">
        <div class="port3">
            <h1>Personal Blog</h1>
            <p>Ablog where i pen down my personal thoughts on Programming Language.</p>
        </div>
        <div class="port3">
            <h1>Personal Blog</h1>
            <p>Ablog where i pen down my personal thoughts on Programming Language.</p>
        </div>
        <div class="port3">
            <h1>Personal Blog</h1>
            <p>Ablog where i pen down my personal thoughts on Programming Language.</p>
        </div>
    </div>
</div>
