.portfolio{
    display:flex;
    flex-direction: column;
    color:white;
    text-align: center;
    font-size: 1.5rem;
}
hr{
    width:40%;
    margin: auto;
}
.port2{
    display: flex;
    text-align: center;
    width:auto;
    margin: auto;
}
.port3{
    background-color: whitesmoke;
    color: black;
    margin: 2rem;
}