/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    font-family: 'Playfair Display', serif;
    background-color:black;
}

html{
    font-size: 10px;
}

*{
    padding: 0%;
    margin: 1rem;
    margin-top:0%;
    box-sizing: border-box;
}