<div>
    <h1 >SKILLS</h1>
    <div>
       <div>
        <h1>Technical Skills</h1>
        <ul>
            <li>HTML</li>
            <li><progress value="80" max="100"></progress></li>
            <li>CSS</li>
            <li><progress value="80" max="100"></progress></li>
            <li>Javascript</li>
            <li><progress value="80" max="100"></progress></li>
            <li>Sacc/SCSS</li>
            <li><progress value="80" max="100"></progress></li>
            <li>React js</li>
            <li><progress value="80" max="100"></progress></li>
            <li>Angular JS</li>
            <li><progress value="80" max="100"></progress></li>
           </ul>
    </div>
       <div>
           <h1>Languages</h1>
           <ul>
               <li>C</li>
               <li><progress value="80" max="100" ></progress></li>
               <li>C++</li>
               <li><progress value="80" max="100" ></progress></li>
               <li>C#</li>
               <li><progress value="80" max="100" ></progress></li>
               <li>Python</li>
               <li><progress value="80" max="100" ></progress></li>
           </ul>
       </div>
    </div>
</div>
