<nav>
   <ul class="nav-ul">
       <li>ProGrad</li>
        <li class="nav-links"><a href="./nav-bar.component.html">HOME</a></li>
        <li class="nav-links"><a href="../bio/bio.component.html">BIO</a></li>
        <li class="nav-links"><a href="../portfolio/portfolio.component.html">PORTFOLIO</a></li>
        <li class="nav-links"><a href="../skills/skills.component.html">SKILLS</a></li>
        <button class="buttons"><a href="../contact/contact.component.html">CONTACT</a></button>
       
    </ul>
    
</nav>
