<div class="first-div">
    <h3 style="color:white;margin:0px;">I BELIEVE IN</h3>
    <h1 style="color:white;margin:0px;">EAT();SLEEP();CODE();REPEAT();</h1>
</div>
<section>
    <img src="../../assets/abc.jpeg" style="height:5%;width:8%; border-radius:50%"/>
    <article>
        <h1 style="color:black">Vaishali</h1>
        <p style="color:black">My name is Vaishali Mishra.I have completed my graduation from HR Institute of technology,Ghaziabad.I have done B.Tech in Computer Science Engineering.I have secured 70.7% marks during my graduation.I have skills of HTML,CSS,Javascript,ReactJs,Nodejs,MongoDB. </p>
        <button>Download My Resume</button>
    </article>
</section>
